<mat-toolbar style="display: flex; justify-content: space-between" color="warn">
  <div style="display: flex">
    <div style="display: flex; align-items: center">
      <button
        style="width: 40px; height: 38px"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon
          style="display: grid; font-size: 26px; justify-content: center"
          >menu</mat-icon
        >
      </button>
    </div>
    <div>
      <span
        class="logout elH2"
        routerLink="/list-products"
        style="padding-left: 8px; cursor: pointer"
        >LicorMania</span
      >
      <span style="margin-left: 10%">{{
        today | date : "d MMM y, EEEE h:mm:ss a"
      }}</span>
    </div>
  </div>
  <div>
    <h3 class="welcome">Hola!! {{ dataUser }}</h3>
  </div>
  <div>
    <span class="logout" (click)="logout()">Cerrar Sesion</span>
  </div>
</mat-toolbar>

<mat-sidenav-container style="position: unset">
  <mat-sidenav #drawer mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/list-products">Pagina principal</a>
      <a mat-list-item routerLink="/info-product">Productos Info</a>
      <a mat-list-item routerLink="/reportes">Reportes</a>
      <a mat-list-item routerLink="/estadisticas">Estadisticas</a>
      <a mat-list-item (click)="abrir()">Acerca de</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="modal" *ngIf="modal">
    <div class="contenido-modal">
      <p>App created by Edwin</p>
      <p>Todos los derechos reservados | © 2023</p>
      <button (click)="cerrar()">cerrar</button>
    </div>
  </div>
</mat-sidenav-container>
