<div style="margin: 6px 6px 12px 6px">
  <div style="display: flex; justify-content: space-between">
    <div>
      <H3>LISTA DE PRODUCTOS</H3>
    </div>
    <div class="float">
      <button class="btn btn-dark btn-lg" routerLink="/create-product">
        Agregar nuevo producto
      </button>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Disponible</th>
      <th scope="col">URL imagen</th>
      <th scope="col">Precio compra</th>
      <th scope="col">Precio venta</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of products">
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.disponible }}</td>
      <td>
        <img
          width="50"
          height="50"
          [src]="producto.imagenes"
          alt="url no valida"
        />
      </td>
      <td>{{ producto.precioCompra }}</td>
      <td>{{ producto.precio }}</td>
      <td style="width: 85px">
        <div style="display: flex; justify-content: space-evenly">
          <div>
            <i
              class="fas fa-edit fa-lg text-info"
              [routerLink]="['/edit-product/', producto.id]"
            ></i>
          </div>
          <div>
            <i
              (click)="eliminarProducto(producto.id)"
              class="fas fa-trash-alt fa-lg text-danger"
            ></i>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <p *ngIf="products.length == 0">No hay productos seleccionados</p>
</table>
<div style="margin: 6px 6px 12px 6px">
  <button class="btn btn-danger" routerLink="/">Volver</button>
</div>
