<app-navbar></app-navbar>
<div style="margin: 6px 6px 12px 6px">
  <div style="display: flex; justify-content: space-between">
    <div style="display: flex; gap: 9px">
      <div style="margin: 10px 0 6px 0">
        <button routerLink="/reportes">REPORTE GENERAL</button>
      </div>
      <div style="margin: 10px 0 6px 0">
        <button routerLink="/reporte-por-producto">REPORTE POR PRODUCTO</button>
      </div>
      <div style="margin: 10px 0 6px 0">
        <button routerLink="/registros">REGISTROS</button>
      </div>
    </div>
  </div>
</div>
<div style="display: flex; gap: 36px; margin: 21px 0 0 21px">
  <div>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr
          style="display: flex; flex-direction: column"
          *ngFor="let fila of nombre"
        >
          <td *ngFor="let nombre of fila">
            {{ nombre }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr
          style="display: flex; flex-direction: column"
          *ngFor="let fila of cantidades"
        >
          <td *ngFor="let cantidad of fila">
            {{ cantidad }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="    display: flex;
    gap: 36px;">
    <div>
      <div *ngFor="let ganancia of registros">
        <div> <strong>Ganancia Obtenida: $</strong> {{ ganancia.gananciaObtenida }}</div>
      </div>
    </div>
    <div>
      <div *ngFor="let total of registros">
        <div><strong>Total: $</strong> {{ total.total }}</div>
      </div>
    </div>
  </div>
</div>
