<app-navbar></app-navbar>
<div style="margin: 6px;">
  <div>
    <h3>REPORTES</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <th class="col">Fecha</th>
      <th class="col">Nombre</th>
      <th class="col">Total</th>
      <th class="col">borrar</th>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes">
        <td>
          {{reporte.fechaCreacion}}
        </td>
        <td>
          {{ countOccurrences(reporte.nombre).join(', ') }}
        </td>
        <td>
          ${{reporte.total | currency : " " : "symbol" : "1.0"}}
        </td>
        <td>
          <div>
            <i
              style="cursor: pointer"
              (click)="abrirModalEliminar(reporte.id)"
              class="fas fa-trash-alt fa-lg text-danger"
            ></i>
            <div class="modal" *ngIf="modalActivoEliminar">
              <div class="contenido-modal">
                <p>¿estas seguro que deseas eliminar este producto?</p>
                <div
                  style="display: flex; gap: 8px; justify-content: center"
                  class="botones"
                >
                  <button
                    class="btn btn-danger"
                    style="background-color: blue"
                    (click)="cerrarModalEliminar()"
                  >
                    Cerrar
                  </button>
                  <button
                    style="background-color: red"
                    type="button"
                    class="btn btn-success"
                    (click)="eliminarProducto2()"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <th class="col">Ganacia Obtenida</th>
      <th class="col">Total ventas</th>
    </thead>
    <tbody>
      <tr>
        <td>${{gananciaObtenida | currency : " " : "symbol" : "1.0"}}</td>
        <td>${{totalVentas | currency : " " : "symbol" : "1.0"}}</td>
      </tr>
    </tbody>
  </table>
</div>
