<div style="margin: 6px;">
  <div>
    <h3>REPORTES</h3>
  </div>
  <table class="table table-striped">
    <thead>
      <th class="col">Fecha</th>
      <th class="col">Nombre</th>
      <th class="col">Total</th>
    </thead>
    <tbody>
      <tr *ngFor="let reporte of reportes">
        <td>
          {{reporte.fechaCreacion}}
        </td>
        <td>
          {{reporte.nombre}}
        </td>
        <td>
          {{reporte.total | currency : "USD" : "symbol" : "1.0"}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
