<div class="table-responsive">
  <div style="display: flex">
    <div *ngFor="let producto of products">
      <div class="producto" (click)="abrirModal(producto)">
        <img
          [src]="producto.imagenes"
          alt="Imagen no disponible"
          width="100"
          height="100"
        />
        <h3 style="text-align: center;">{{ producto.nombre }}</h3>
        <p>{{producto.descripcion}}</p>
        <p>
          Disponible:
          {{ producto.disponible ? producto.disponible : "No disponible" }}
        </p>
        <p style="color: red">{{ producto.disponible ? "" : message }}</p>
      </div>
    </div>
    <div class="modal" *ngIf="modalActivo">
      <div class="contenido-modal">
        <img
          [src]="productoSeleccionado.imagenes"
          alt="Imagen no disponible"
          width="200"
          height="200"
        />
        <h3>{{ productoSeleccionado.nombre }}</h3>
        <p>Descripción: {{ productoSeleccionado.descripcion }}</p>
        <p>Precio: {{ productoSeleccionado.precio }}</p>
        <p>
          Disponible:
          {{
            productoSeleccionado.disponible
              ? productoSeleccionado.disponible
              : "No disponible"
          }}
        </p>
        <div class="input-group">
          <button
            class="btn-cantidad btn-decrementar"
            (click)="decrementarCantidad()"
          >
            -
          </button>
          <input
            id="cantidad"
            type="text"
            min="0"
            [disabled]="true"
            [(ngModel)]="productoSeleccionado.cantidad"
            (input)="actualizarPrecioTotal()"
          />
          <button
            [disabled]="enabledButton"
            class="btn-cantidad btn-incrementar"
            (click)="incrementarCantidad()"
          >
            +
          </button>
        </div>

        <p>Precio Total: {{ productoSeleccionado.precioTotal }}</p>
        <div class="botones">
          <button style="background-color: red" (click)="cerrarModal()">
            Cerrar
          </button>
          <button
            style="background-color: green"
            [disabled]="habilitar"
            type="button"
            class="btn btn-success"
            (click)="registrarProducto()"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">SubTotal</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productosRegistrados">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precioTotal }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarProducto(producto)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="productosRegistrados.length !== 0">
      <tr style="background-color: #0014ff2b">
        <th>Total:</th>
        <th>$ {{ calcularTotal() }}</th>
        <th>
          <button class="btn btn-success" (click)="modalRegistrar()">
            Agregar Reporte
          </button>
          <div class="modal" *ngIf="registrarActivo">
            <div class="contenido-modal">
              <span style="    margin-bottom: 14px;">Agregar nuevo reporte</span>
              <div style="display: contents">
                <span>Total a pagar: </span>
                <p>
                  {{ calcularTotal() | currency : "USD" : "symbol" : "1.0" }}
                </p>
                <p>Devuelta: ${{resultado}}</p>
                <label>
                  <input
                    [(ngModel)]="valorRestado"
                    (ngModelChange)="restarValor()"
                    type="number"
                  />
                </label>
              </div>
              <div style="gap: 7px; display: flex">
                <button
                  class="btn btn-danger"
                  style="background-color: blue"
                  (click)="cerrarModal()"
                >
                  Cerrar
                </button>
                <button
                  (click)="agregarReporte()"
                  style="background-color: green"
                  type="button"
                  class="btn btn-success"
                >
                  Crear
                </button>
              </div>
            </div>
          </div>
        </th>
        <th>
          <button class="btn btn-danger" (click)="borrarTabla()">
            Borrar todo
          </button>
        </th>
      </tr>
    </tfoot>
    <p *ngIf="productosRegistrados.length == 0">
      No hay productos seleccionados
    </p>
  </table>
</div>
