



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$licorApp-primary: mat.define-palette(mat.$indigo-palette);
$licorApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$licorApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$licorApp-theme: mat.define-light-theme((
  color: (
    primary: $licorApp-primary,
    accent: $licorApp-accent,
    warn: $licorApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($licorApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

/* Estilo para la ventana flotante */
.contenedor-flotante {
  position: fixed;
  top: 0;
  left: 0%; /* Inicialmente fuera de la pantalla */
  width: 95%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

/* Animación para mostrar la ventana flotante */
@keyframes slideInFromRight {
  0% {
    right: -400px;
  }
  100% {
    right: 0;
  }
}
.changeV{
  position: absolute;
  color: #007bff;
}
.styled-checkbox {
  margin-right: 5px;
  vertical-align: middle;
  /* Cambiar el tamaño del checkbox */
  transform: scale(1.5); /* Ajusta este valor según tus preferencias */

  /* Cambiar el color del checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid red; /* Color del borde para false */
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s; /* Transición suave para cambios de color */

  /* Cambiar el color del check interno */
  &:checked {
    background-color: green; /* Color para true */
    border: 2px solid rgb(4, 135, 251); /* Color del borde para true */
  }
}


