<app-navbar></app-navbar>
<div style="display: flex; flex-direction: column; align-items: center">
  <div>
    <h2>{{ titleChange }}</h2>
  </div>
  <div>
    <form [formGroup]="createProduct" (ngSubmit)="agregarEditarProducto()">
      <div class="container-form">
        <div class="container-element">
          <label
            >* Nombre
            <input
              type="text"
              class="form-control mt-2 text-center"
              placeholder="Nombre del producto"
              formControlName="nombre"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >Descripción
            <input
              type="text"
              class="form-control mt-2 text-center"
              placeholder="Descripción"
              formControlName="descripcion"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >* Precio de compra
            <input
              type="number"
              class="form-control mt-2 text-center"
              placeholder="precio de compra"
              formControlName="precioCompra"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >* Precio de venta
            <input
              type="number"
              class="form-control mt-2 text-center"
              placeholder="precio de venta"
              formControlName="precio"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >Imagen
            <input
              type="text"
              [(ngModel)]="urlImagen"
              class="form-control mt-2 text-center"
              placeholder="url de imagen"
              formControlName="imagenes"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >* Disponible
            <input
              type="number"
              class="form-control mt-2 text-center"
              placeholder="Disponible"
              formControlName="disponible"
            />
          </label>
        </div>
        <div class="container-element">
          <label
            >No modificar este campo
            <input
              type="number"
              class="form-control mt-2 text-center"
              placeholder="No modificar"
              formControlName="cantidadTotal"
              [(ngModel)]="cantidadTotal"
            />
          </label>
        </div>
        <div
          style="
            display: flex;
            gap: 11px;
            margin: 14px 0 0 0;
            justify-content: center;
          "
        >
          <div class="container-element">
            <button class="btn btn-danger" routerLink="/info-product">
              Volver
            </button>
          </div>
          <div class="container-element">
            <button class="btn btn-success" (click)="verificar()" type="submit">
              Aceptar
            </button>
          </div>
        </div>
        <div style="color: red" *ngIf="subbmited && createProduct.invalid">
          Los campos con * son obligatorios
        </div>
      </div>
    </form>
  </div>
</div>
